In [4]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [7]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = SparkConf().setAppName("leanrpys")
#sc = SparkContext(conf = conf)
spark = SparkSession.builder.appName("Learnps").getOrCreate()

In [ ]:
spark = SparkSession.builder.appName("sample").getOrCreate()

In [8]:
sc

In [9]:
spark

In [10]:

conf

In [ ]:
df = spark.read.format("csv").option("delimiter", ";").option("header", "true").option("inferSchema","true").load("/content/test.csv")  
df.show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
import pyspark.sql.functions as f 
job_bal = df.groupBy("job").sum("balance").alias("Total Balance").orderBy(f.desc("sum(balance)")).show()
job_bal
#the resulting table is the sum of balance for each job

+-------------+------------+
|          job|sum(balance)|
+-------------+------------+
|   management|     1712154|
|  blue-collar|     1026563|
|   technician|     1022205|
|       admin.|      586380|
|      retired|      533414|
|     services|      460350|
| entrepreneur|      276381|
|self-employed|      254811|
|    housemaid|      233386|
|   unemployed|      139446|
|      student|      129681|
|      unknown|       57065|
+-------------+------------+

In [14]:
rdd_1 = sc.textFile("/content/test_first (1)chat")
rdd_1.collect()

['This is Apache spark class, and spark is latest Technology in Big Data FrameWork.',
 'This is Apache spark class, and spark is latest Technology in Big Data FrameWork.']

In [15]:
rdd_2 = rdd_1.map(lambda x: (x,len(x)))
rdd_2.collect()

[('This is Apache spark class, and spark is latest Technology in Big Data FrameWork.',
  81),
 ('This is Apache spark class, and spark is latest Technology in Big Data FrameWork.',
  81)]

In [16]:
string = "This is Apache spark class, and spark is latest Technology in Big Data FrameWork"
split_text = string.split(" ")
split_text

['This',
 'is',
 'Apache',
 'spark',
 'class,',
 'and',
 'spark',
 'is',
 'latest',
 'Technology',
 'in',
 'Big',
 'Data',
 'FrameWork']

In [26]:
rdd_split = rdd_1.flatMap(lambda x:x.split(" "))

In [27]:
rdd_split.collect()

['This',
 'is',
 'Apache',
 'spark',
 'class,',
 'and',
 'spark',
 'is',
 'latest',
 'Technology',
 'in',
 'Big',
 'Data',
 'FrameWork.',
 'This',
 'is',
 'Apache',
 'spark',
 'class,',
 'and',
 'spark',
 'is',
 'latest',
 'Technology',
 'in',
 'Big',
 'Data',
 'FrameWork.']